{% extends 'shop/base.html' %}
{% load crispy_forms_tags %} 

{% block content %} 
<h1 class="text-center ">Enter Product Details</h1>
<hr>
<div class=" w-10 col-12 d-flex justify-content-end">
    {% if request.user.is_authenticated %}
    <h4>Hello,&nbsp;{{ request.user.username }}</h4>&nbsp;
    {%endif%}
    <a href= "{% url 'sellerLogin' %}" type="button" class="btn btn-success btn-sm"><b>Logout</b></a>  
</div>
<div class="container text-center w-50 p-3 my-5 bg-light">
<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
      </div>
      {% endfor %}
    </div>
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button type="submit" class="btn btn-info mb-4">Submit</button>
</form>

</div>

{% endblock%}  

 