{% extends 'shop/base.html' %}

{% block content %}

<section class="vh-100 bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-90">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Login</h2>
            

            <form method="POST" action= "" >
               {% csrf_token %}
               <div class="form-group">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{message}}
              </div>
              {% endfor %}
              <div class="form-outline mb-4">
                <input name="uname" type="text" id="" class="form-control form-control-lg" />
                <label class="form-label" for="c_name">User Name</label>
              </div>

              <div class="form-outline mb-4">
                <input name="pwd" type="password" id="" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>

              <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Log In">
              </div>
              
              
              <p class="text-center text-muted mt-5 mb-0">Dont have an account? <a href="{% url 'customerSignin'%}"
                class="fw-bold text-body"><u>Click here</u></a>&nbsp;to create</p>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

</section>

{% endblock %}