{% extends "client/base_3.html" %}

{% block content %}

<div class="border d-flex align-items-center h-100 justify-content-center" style="height:50px">
    <section class="text-center">
        <h1 class="text-center"><u>Customer home</u></h1>
        <div>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            <i>  {{message}} </i>
          </div>
          {% endfor %}
        </div>      
    <a href= "{% url 'require' name=request.user.username %}" type="button" class="btn btn-success btn-md">Project Requirements</a>
    <a href= "{% url 'cbook' %}" type="button" class="btn btn-success btn-md">Make Appointment Request</a>
   
    </section>
</div>

    {%endblock%}
